<div class="container-fluid mt-4">
  <!-- mt-5 mx-n4 px-4 mx-lg-n6 px-lg-6 pt-7-->
  <!-- Content here -->
  <h3>Pedidos</h3>
  <p>Essa é a lista de pedidos recebidos</p>

  <div class="row">
    <div class="container-fluid">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <input
                class="form-check-input mt-0"
                type="checkbox"
                value=""
                aria-label="Checkbox for following text input"
                disabled="true"
              />
            </th>
            <th scope="col">Pedido</th>
            <th scope="col">Data</th>
            <th scope="col">Produto</th>
            <th scope="col">Cliente</th>
            <th scope="col">Total</th>
            <!-- <th scope="col">Pagamento</th> -->
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <th scope="row">
              <input
                class="form-check-input mt-0"
                type="checkbox"
                value=""
                aria-label="Checkbox for following text input"
              />
            </th>
            <td>#{{ order.id }}</td>
            <td>{{ order.date_created | date : "dd MMM. HH:mm:ss" }}hs</td>
            <td>{{ order.payments[0].reason }}</td>
            <td>{{ order.buyer.nickname }}</td>
            <td>{{ order.paid_amount | currency : order.currency_id }}</td>
            <!-- <td>
              <span
                [ngClass]="
                  order.status == 'paid' ? 'bg-success' : 'text-bg-danger'
                "
                class="badge"
                >{{ order.status }}</span
              >
            </td> -->
            <td>
              <!-- <p>{{ getOrderShipments(order.id) }}</p> -->
              <span *ngIf="order.fulfilled == true"> Entregue</span>
              <span *ngIf="order.fulfilled == false"> Cancelada</span>
              <span *ngIf="order.fulfilled == null"> A caminho</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
